.header{
  text-align: center;
  background-color: rgb(228,228,227);
}
.header img{
  height: 45px;
  width: 55px;
}

#image {
-webkit-transform: rotate(90deg); /*permet la rotation de l'image*/
margin-top: 100px;
display: block;
margin-left: auto;
margin-right: auto;
}
