.header{
  text-align: center;
  background-color: rgb(228,228,227);
}
.header img{
  height: 45px;
  width: 55px;
}

#image {
-webkit-transform: rotate(90deg); /*permet la otation de l'image*/
width: 100%;
height: 100%;
}
